<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="board/fragments/header :: header"></div>

<table
    th:width="200"
    th:height="200"
    cellspacing="5">
    <thead>
        <tr>
            <th>ID</th>
            <th>제목</th>
            <th>조회수</th>
            <th>수정</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="board : ${list}" align="center">
            <td th:text="${board.id}" ></td>
            <td th:text="${board.title}"></td>
            <td th:text="${board.readCount}"></td>
        </tr>
    </tbody>
</table>


</body>
</html>