<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="board/fragments/header :: header"></div>

<form th:object="${board}" th:action th:method="post">
    <div>작성일자 :
        <span th:text="${#temporals.format(board.boardDate,'yy-MM-dd HH:mm:ss')}"></span>
    </div>
    <div>조회수 :
        <span th:text="*{readCount}"></span>
    </div>
    <div>제목 :
        <input th:field="*{title}" size="80">
    </div>
    <div>내용
        <textarea th:field="*{content}" rows="4" cols="80"></textarea>
    </div>
    <div>
        <button type="submit" th:onclick="|location.href='@{/board/{boardId}/edit(boardId=*{id})}'|">확인</button>
        <button type="button" th:onclick="|location.href='@{/board/{boardId}(boardId=*{id})}'|">취소</button>
    </div>
</form>
</body>
</html>